body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}



.interactive-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 900px;
	border: 2px dashed red;
	margin: auto;
}

.pizza-container{
	flex: 2;
}

.pizza{
	border: 1px solid #eee;
	padding: 20px;
	margin: 20px;
}

.order-container{
	flex: 1;
	border: 1px solid #eee;
	padding: 20px;
	margin: 20px;
	margin-left: 0px;
}
.order-items{
	text-align: left;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.order-items li{
	padding: 20px 0px;
	margin: 0px;
	border-top: 1px solid #eee;
}
.order-items .right{
	float: right;
}
.order-items .order-total{
	border-top: 3px solid #eee;
	font-weight: bold;
}

