.App {
  text-align: center;
  padding: 60px 0px 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: none;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-weight: 300;
  font-size: 60px;
  max-width: 1200px;
  position: relative;
  left: -0.09em;
  margin: auto;
  text-align: left;
  padding: 0px 20px;
  box-sizing: border-box;
}
@media (min-width: 500px) {
  .App-title {
    font-size: 80px;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
